{% extends 'blog/basic.html' %}
<!------------------------------------------------------------------------------->
{% block title %} My Awesome Cart Blog{% endblock %}

<!------------------------------------------------------------------------------->
{% block css%}
.card {
background-color: #f7f8f8;
}
img.card-img-top {
    width: 711px;
    height: 149px;
}
{% endblock %}

<!------------------------------------------------------------------------------->
<!-- Navbar -->
{% block body %}

<!-- Blog content -->
<div class="blog" style="background-color:#ffffff">
  <div class="container mt-0">
    <div class="row">
      <div class="col-md-8">
        <div class="headline my-4">
          <h2 class="mb-4">Latest Blog Posts</h2>
        </div>

        <!-- Blog Post 1 -->
          {% for item in posts reversed %}

        <div class="my-3">
          <div class="shadow-none p-2  bg-light rounded-pill">

            <div class="card  bg-#f2f2f2">
                <a href="/shop" target="_blank">
<!--              <img src="/media/{{item.thumbnail}}"   class="card-img-top width:711px" alt="...">-->
              <img class="card-img-top width:711px" src="/media/{{item.thumbnail}}" width="711px" height="149px">
                    </a>
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.content_0|slice:"0:250"}}</p>
                <p class="card-text"><small class="text-muted">{{item.publish_date}}</small></p>
                  <button type="button" class="btn btn-link">Continue reading..</button>
              </div>

            </div>
          </div>
        </div>
          {% endfor %}

        <!-- Pagination -->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    </div>
    </div>

{% endblock %}
<!------------------------------------------------------------------------------->